<div>
	<!-- BEGIN PAGE HEADER-->
	<h3 class="page-title">
		Project - [{{project.title}}] <small ng-if="project.updatedAt !== null">Last updated at [{{ project.updatedAt | date:'MMM d yyyy, hh:mm a' }}]</small>
	</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="/">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="#!/projects">Projects</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="#!/projects/{{project.id}}">{{project.title}}</a>
				<i class="fa fa-angle-right"></i>
			</li>
		</ul>
	</div>
	<!-- END PAGE HEADER-->
	<!-- BEGIN PAGE CONTENT-->
	<div class="row">
		<!-- BEGIN: Project Summary -->
		<div class="col-md-6">
			<div class="portlet light bg-inverse">
				<div class="portlet-title">
					<div class="caption font-green-sharp">
						<i class="icon-settings font-green-sharp"></i>
						<span class="caption-subject bold uppercase">Project Detail</span>
						<span class="caption-helper"></span>
					</div>
					<div class="tools">
						<a href="" class="collapse">
						</a>
						<a href="" class="reload" ng-click="onReload()">
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<div clas="row">
						<div class="col-md-12">
							<h3>{{ project.title }}</h3>
						</div>
					</div>
					<div class="row">
						<div class="portlet-body col-md-12">
							<div class="note note-info">
								<h4 ng-bind-html="project.description | nl2br"></h4>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-4 control-label">Project ID</div>
						<div class="col-md-8 input-group">{{project.id}}</div>
					</div>
					<div class="row form-group">
						<div class="col-md-4 control-label">Project Status</div>
						<div class="col-md-8 input-group">{{PROJECT_STATUS[project.projectStatus]}}</div>
					</div>
					<div class="row form-group">
						<div class="col-md-4 control-label">Created on</div>
						<div class="col-md-8 input-group">{{project.createdAt | date:'M/d/yyyy hh:mm a'}}</div>
					</div>
					<div class="row form-group">
						<div class="col-md-4 control-label">Last updated on</div>
						<div class="col-md-8 input-group">{{project.updatedAt | date:'M/d/yyyy hh:mm a' || 'None'}}</div>
					</div>
					<div class="row form-group">
						<button class="btn btn-primary pull-right" ng-click="onUpdateProjectDetail()">Update</button>
					</div>
				</div>
			</div>
		</div>
		<!-- END: Project Summary -->
		<!-- BEGIN: Project Status -->
		<div class="col-md-6">
			<div class="portlet light bg-inverse">
				<div class="portlet-title">
					<div class="caption font-green-sharp">
						<i class="icon-settings font-green-sharp"></i>
						<span class="caption-subject bold uppercase">Project Status</span>
						<span class="caption-helper"></span>
					</div>
					<div class="tools">
						<a href="" class="collapse">
						</a>
						<a href="" class="reload" ng-click="onReload()">
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="row form-group">
						<div class="col-md-4 control-label">Project Status</div>
						<div class="col-md-8 input-group">{{PROJECT_STATUS[project.projectStatus]}}</div>
					</div>
					<div class="row form-group">
						<div class="col-md-4 control-label">Project Phase</div>
						<div class="col-md-8 input-group">Design</div>
					</div>
					<div class="row form-group">
						<div class="col-md-12">
							<div class="progress-bar" role="progressbar" aria-valuenow="60" area-valuemin="0" aria-valuemax="100" style="width:60%">60%</div>
						</div>
					</div>
					<div class="row form-group">
						<button class="btn btn-primary pull-right" ng-click="onUpdateProjectStatus()">New Status</button>
					</div>
				</div>
			 </div>
		</div>
		<!-- END: Project Status -->
		<!-- BEGIN: Project Milestones -->
		<div class="col-md-12">
			<div class="portlet light bg-inverse">
				<div class="portlet-title">
					<div class="caption font-green-sharp">
						<i class="icon-settings font-green-sharp"></i>
						<span class="caption-subject bold uppercase">Project Timeline</span>
						<span class="caption-helper"></span>
					</div>
					<div class="tools">
						<a href="" class="collapse">
						</a>
						<a href="" class="reload" ng-click="onReload()">
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<table class="table table-striped table-hover projects-table">
						<thead>
							<tr>
								<th>Title</th>
						        <th>Status</th>
						        <th>Forcasted</th>
						        <th>Actual</th>
						        <th>% Completed</th>
						        <th>Confidence</th>
							</tr>
						</thead>
						<tbody>
					    	<tr ng-repeat="milestone in project.milestones" style="cursor:pointer;" ng-click="onEditMilestone(milestone.id)">
						        <td>{{milestone.title}}</td>
						        <td>{{MILESTONE_STATUS[milestone.status]}}</td>
						        <td>{{ milestone.forcastDate | date:'M/d/yyyy' }}</td>
						        <td>{{ milestone.actualDate | date:'M/d/yyyy' }}</td>
						        <td>{{milestone.percentComplete}}%</td>
						        <td>{{milestone.packageConfidence}}%</td>
					    	</tr>
					    </tbody>
				    </table>
					<div class="row form-group">
						<button class="btn btn-primary pull-right" ng-click="onEditMilestone('')">Add Milestone</button>
					</div>
				</div>
			</div>
		</div>
		<!-- END: Project Milestones -->

		<!-- BEGIN: Project Team -->
		<div class="col-md-6">
			<div class="portlet light bg-inverse">
				<div class="portlet-title">
					<div class="caption font-green-sharp">
						<i class="icon-settings font-green-sharp"></i>
						<span class="caption-subject bold uppercase">Team</span>
						<span class="caption-helper"></span>
					</div>
					<div class="tools">
						<a href="" class="collapse">
						</a>
						<a href="" class="reload" ng-click="onReload()">
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<table class="table table-striped table-hover projects-table">
						<thead>
							<tr>
						        <th style="width:50%">Role</th>
						        <th style="width:50%">Name</th>
							</tr>
						</thead>
						<tbody>
					    	<tr>
						        <td>Leasing</td>
						        <td>Joe</td>
					    	</tr>
					    	<tr>
						        <td>Account Manager</td>
						        <td>TBD</td>
					    	</tr>
					    	<tr>
						        <td>Project Manager</td>
						        <td>Alan</td>
					    	</tr>
					    	<tr>
						        <td>VGM</td>
						        <td>Mike</td>
					    	</tr>
					    </tbody>
				    </table>
					<div class="row form-group">
						<button class="btn btn-primary pull-right" ng-click="onUpdateTeam()">Update</button>
					</div>
				</div>
			</div>
		</div>
		<!-- END: Project Team -->

		<!-- BEGIN: Project Finances -->
		<div class="col-md-6">
			<div class="portlet light bg-inverse">
				<div class="portlet-title">
					<div class="caption font-green-sharp">
						<i class="icon-settings font-green-sharp"></i>
						<span class="caption-subject bold uppercase">Finances</span>
						<span class="caption-helper">$4,700,000</span>
					</div>
					<div class="tools">
						<a href="" class="collapse">
						</a>
						<a href="" class="reload" ng-click="onReload()">
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<table class="table table-striped table-hover projects-table">
						<thead>
							<tr>
								<th style="width:33%"></th>
								<th style="width:34%">Forecast</th>
								<th style="width:33%">Plan</th>
							</tr>
						</thead>
						<tbody>
					    	<tr>
						        <td>Revenue</td>
						        <td>$2,000,000</td>
						        <td>$2,500,000</td>
					    	</tr>
					    	<tr>
						        <td>Lease Dates Sprint</td>
						        <td>01/02/2016</td>
						        <td>01/02/2016</td>
					    	</tr>
					    	<tr>
						        <td>Verizon</td>
						        <td>01/02/2016</td>
						        <td>01/02/2016</td>
					    	</tr>
					    	<tr>
						        <td>Completion</td>
						        <td>01/02/2016</td>
						        <td>01/02/2016</td>
					    	</tr>
					    </tbody>
				    </table>
					<div class="row form-group">
						<button class="btn btn-primary pull-right">View</button>
					</div>
				</div>
			</div>
		</div>
		<!-- END: Project Finances -->
	</div>
	<!-- END PAGE CONTENT-->
	</div>
</div>