<div class="portlet box green " style="margin:0px;">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-gift"></i> Edit CostPackage
		</div>
		<div class="tools">
		</div>
	</div>
	<div class="portlet-body form">
		<form class="form-horizontal" role="form">
			<div class="form-body">
				<div class="form-group">
					<label class="col-md-4 control-label">Title</label>
					<div class="col-md-8">
						<input type="text" class="form-control" ng-model="milestone.title" placeholder="Enter title" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Submitted Date</label>
					<div class="col-md-8">
			            <input type="text" class="form-control" is-open="openedSD" datepicker-options="" datepicker-popup close-text="Close" ng-mousedown="openedSD=!openedSD" ng-model="milestone.forcastDate" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Actual Date</label>
					<div class="col-md-8">
			            <input type="text" class="form-control" is-open="openedAD" datepicker-options="" datepicker-popup close-text="Close" ng-mousedown="openedAD=!openedAD" ng-model="milestone.actualDate" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Status</label>
					<div class="col-md-8">
						 <select class="form-control" ng-model="milestone.status" ng-options="value as label for (value, label) in MILESTONE_STATUS"></select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Percent complete</label>
					<div class="col-md-8">
						<div range-slider min="0" max="100" model-max="milestone.percentComplete" pin-handle="min" attach-handle-values="true" show-values="true"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label">Package confidence</label>
					<div class="col-md-8">
						<div range-slider min="0" max="100" model-max="milestone.packageConfidence" pin-handle="min" attach-handle-values="true" show-values="true"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-md-offset-4 col-md-8">
							<button type="submit" class="btn green" ng-click="onOK()">Update</button>
							<button type="button" class="btn default" ng-click="onCancel()">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>