<div>
	<!-- BEGIN PAGE HEADER-->
	<h3 class="page-title">
		Projects <small>list of projects</small>
	</h3>
	<div class="page-bar">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="/">Home</a>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<a href="#!/projects">Projects</a>
				<i class="fa fa-angle-right"></i>
			</li>
		</ul>
	</div>
	<!-- END PAGE HEADER-->
	<!-- BEGIN PAGE CONTENT-->
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN EXAMPLE TABLE PORTLET-->
			<div class="portlet box blue-hoki">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-globe"></i>Projects
					</div>
					<div class="tools">
					</div>
				</div>
				<div class="portlet-body">
					<table class="table table-striped table-hover projects-table" ng-table="tableParams">
				    	<tr ng-repeat="project in $data" style="cursor:pointer;" ng-click="onOpenProject(project.id)">
					        <td data-title="'Title'" ng-bind="project.title" sortable="'title'" filterable="{field:'title', type:'text', align:'LEFT'}"></td>
					        <td data-title="'Oracle Project Id'" ng-bind="project.oracleProjectId" sortable="'oracleProjectId'" filterable="{field:'oracleProjectId', type:'text', align:'LEFT'}"></td>
					        <td data-title="'Submitted Date'" sortable="'submittedDate'" filterable="{field:'submittedDate', type:'date_range'}">{{ project.submittedDate | date:'M/d/yyyy' }}</td>
					        <td data-title="'Contract Start Date'" sortable="'contractedStartDate'" filterable="{field:'contractedStartDate', type:'date_range'}">{{ project.contractedStartDate | date:'M/d/yyyy' }}</td>
					        <td data-title="'Type'" ng-bind="project.projectType"  sortable="'projectType'" filterable="{field:'projectType', type:'dropdown'}"></td>
					        <td data-title="'Status'" ng-bind="project.projectStatus"  sortable="'projectStatus'" filterable="{field:'projectStatus', type:'dropdown'}"></td>
					        <td data-title="'Opportunity Id'" ng-bind="project.opportunityId"  sortable="'opportunityId'" filterable="{field:'opportunityId'}"></td>
					        <td data-title="'Opportunity Type'" ng-bind="project.opportunityType"  sortable="'opportunityType'" filterable="{field:'opportunityType', type:'dropdown'}"></td>
					        <td data-title="'Created At'" sortable="'createdAt'" filterable="{field:'createdAt', type:'date_range'}">{{ project.createdAt | date:'M/d/yyyy' }}</td>
					        <td data-title="'Updated At'" sortable="'updatedAt'" filterable="{field:'updatedAt', type:'date_range'}">{{ project.updatedAt | date:'M/d/yyyy' }}</td>
				    	</tr>
				    </table>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
</script>